            <!-- Tab content -->
			<div>
				<form action="/editSearch" method="post" class="search-form">
					<select name="options">
						<option value="...">Select Options</option>
						<option value="Child">Child</option>
						<option value="Father">Father</option>
						<option value="Mother">Mother</option>
						<option value="Guardian">Guardian</option>
						<option value="Admission">Admission</option>
						<option value="Emergency">Emergency</option>
						<option value="Waiting">Waiting</option>
						<option value="Visitors">Visitors</option>
						<option value="Referral">Referral</option>
						<option value="Delivery">Delivery</option>
						<option value="Deceased">Deceased</option>
						<option value="Test">Test</option>
						<option value="Prescription">Prescription</option>
						<option value="Diagnosis">Diagnosis</option>
					</select>

					<label for="search">
						<input type="text" name="search" id="search" placeholder="Child ID">
					</label>

					<button type="submit">Search</button>
				</form>	
			</div>