    <footer class="footer">
		<a href="/about">
			<p>&copy; Njala University Computer Science Department
				<script>
					let date = new Date().getFullYear()
					document.write(date)
				</script>
			</p>
		</a>
	</footer>
	<!-- Javascript section -->
	<script src="/js/index.js" type="text/javascript"></script>
	<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/webcam-easy/dist/webcam-easy.min.js"></script>
	<!--<script src="https://cdn.ckeditor.com/4.15.1/basic/ckeditor.js"></script>-->
	
	<script type="text/javascript">
		// CKEDITOR.replace("emergencyDescription");
		// CKEDITOR.replace("admissionDetail");
		// CKEDITOR.replace("appointment");
		// CKEDITOR.replace("wardDescription");
		// CKEDITOR.replace("admissionDetails");
		// CKEDITOR.replace("test");
	</script>
	<!-- End of javascript section -->
</body>
</html>