<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%- description %>">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/css/screen.css">
	<title><%- title %></title>
</head>
<body>				
	<div class="header">
		<span><a href="/"><img src="/images/logo.jpg" alt="Sierra Leone Coat of Arms" width="70%" style="margin-left: 40px; border-radius: 40px"></a></span>
        <div id="app-heading">Ola Durin Children Medical Information System</div>
        <% if(!user){ %>
            <div class="user">
                <a href="/login">Log In</a>
            </div>
        <% } else { %>
            <div class="user">
                <a href="/logout">Log Out</a>
            </div>
        <% } %>
	</div>

    <% if(success && success.length > 0) { %> 
        <div class="success-message" role="alert">
            <%- success %>
        </div>
    <% } %>
    <% if(error && error.length > 0) { %> 
        <div class="error-message" role="alert">
            <%- error %>
        </div>
    <% } %>