            <!-- Tab content -->
			<div>
				<form action="/reportSearch" method="post" class="search-form">
					<select name="options">
						<option value="...">Select Options</option>
						<option value="Birth Certificate">Birth Certificate</option>
						<option value="Death Certificate">Death Certificate</option>
						<option value="Test">Test</option>
						<option value="Prescription">Prescription</option>
						<option value="Diagnosis">Diagnosis</option>
						<option value="Admission">Admission</option>
						<option value="Referral">Referral</option>
						<option value="Visitors">Visitors</option>
					</select>

					<label for="search">
						<input type="text" name="search" id="search" placeholder="Child ID">
					</label>

					<button type="submit">Search</button>
				</form>	
			</div>