<%- include('partials/header') %>
		</div>
	</div>

	<!-- Content -->

	<h2>ABOUT THE SYSTEM DESIGNERS</h2>
	<div class="about">

		<p>
			The Ola Durin Childrens Medical Record System was a project topic assigned to Zainab Sesay, Amidu Dabor, and David Maada Gegbai, by their supervisor, lecturer, and mentor Dr. Hamza, as their final year Computer Science project at Njala University
		</p>

		<p>
			They accepted the project as a challenging and yet meaningful one, as such a system was not yet in existence in the country. Though they met with several challenging situations along the way, they pushed beyond all doubt, issues, and struggles to ensure that the system was built and submitted for review.
		</p>
		
		<section class="project">
			<h2 class="heading">PROJECT DEVELOPERS</h2>
			<section class="about researcher card">
				<div class="img">
					<img src="/images/zainab.jpg" alt="Zainab Sesay">
				</div>
				<h4>Name: <span class="name">Zainab Sesay</span></h4>
				<span class="id">ID: 19742</span>
				<p class="description"></p>
				<span class="contact"></span>
			</section>

			<section class="about front-end-developer card">
				<div class="img">
					<img src="/images/dabor.JPG" alt="Amidu Dabor">
				</div>
				<h4>Name: <span class="name">Amidu Dabor</span></h4>
				<span class="id">ID: 24745</span>
				<p class="description"></p>
				<span class="contact"></span>
			</section>

			<section class="about back-end-designer card">
				<div class="img">
					<img src="/images/dmg.jpg" alt="David Maada Gegbai">
				</div>
				<h4>Name: <span class="name">David Maada Gegbai</span></h4>
				<span class="id">ID: 24751</span>
				<p class="description"></p>
				<span class="contact"></span>
			</section>

			<h2 class="heading">SUPERVISOR</h2>
			<section class="about supervisor card">
				<div class="img">
					<img src="/images/Dr_Hamza.jpeg" alt="Dr. Hamza">
				</div>
				<h4>Name: <span class="name">Dr. Hamza</span></h4>
				<span class="description"></span>
				<span class="contact"></span>
			</section>
		</section>
	</div>
<%- include('partials/footer') %>