<%- include('partials/header') %>
<%- include('partials/data-entry') %>
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="delivery-content">
					<h2>DELIVERY</h2>
					<form class="referral-form" action="/delivery/add" method="POST">
						<fieldset class="referral-fieldset" action="/delivery/add" method="POST">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="deliveryID" value="D-<%- Date.now().toString().substring(6, 12)%>" readonly name="deliveryID"><br>
								<label for="deliveryID">Delivery ID</label></span>
		
								<span><input class="cls-cID" type="text" id="childID" name="childID"><br>
								<label class="cls-cID" for="childID">Child ID</label></span>
							
								<span><input class="cls-fID" type="text" id="fID" name="fatherID"><br>
								<label class="cls-fID" for="fID">FatherID</label></span>
		
								<span><input class="cls-mID" type="text" id="mID" name="motherID"><br>
								<label class="cls-mID" for="mID">MotherID</label></span>
		
								<span><input type="text" id="place-of-delivery" name="placeOfDelivery"><br>
								<label for="place-of-delivery">Place of delivery</label></span>
		
								<span><input type="text" id="type-of-delivery" name="typeOfDelivery"><br>
								<label for="type-of-delivery">Type of delivery</label></span>
					
								<span><input type="text" id="attendant-at-birth" name="deliveredBy"><br>
								<label for="attendant-at-birth">Delivered By</label></span>

								<span><input type="text" id="centre" name="registrationCentre"><br>
								<label for="centre">Delivery Centre</label></span>
							</section>

							<fieldset class="date-photo">
								<input type="date" id="delivery-registered-date" name="deliveryRegDate"><br></span>
								<span><label for="delivery-registered-date">Date registered for delivery</label><br>
								<input type="date" id="date-delivered" name="dateDelivered"><br></span>
								<span><label for="date-delivered">Delivery Date</label><br>
								<input type="time" id="time-of-delivery" name="timeOfDelivery"><br><span>
								<span><label for="time-of-delivery">Time of delivery</label><br>
							</fieldset>
	
							<span class="btn">
								<input type="submit" name="submit" value="Submit">
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 