<%- include('partials/header') %>
<%- include('partials/data-entry') %>
			
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="guardian-content">
					<h2>GUARDIAN DATA ENTRY</h2>
					<form class="guardian-form" action="/guardian/add" method="POST" enctype="multipart/form-data">
						<fieldset class="guardian-fieldset">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="gID" name="guardianID" value=<%-`G-${Date.now().toString().substring(6, 12)}`%>><br>
								<label for="gID">GuardianID</label><br></span>

								<span id="registration-number"><input type="text" id="registration-number" name="childID"><br>
								<label class="cls-registration-number" for="childID">Child ID</span><br>
							
								<span><input type="text" id="g-fname" name="firstName"><br>
								<label for="g-fname">First name</label></span>
		
								<span><input type="text" id="g-mname" name="otherName"><br>
								<label for="g-mname">Other name(s)</label><br></span>
		
								<span><input type="text" id="g-lname" name="lastName"><br>
								<label for="g-lname">Last name</label><br></span>
								
								<span><input type="text" id="g-gender" name="gender"><br>
								<label for="g-gender">Gender</label><br></span>
		
								<span><input type="text" id="g-nationality" name="nationality"><br>
								<label for="g-nationality">Nationality</label><br></span>
					
								<span><input type="text" id="g-marital-status" name="maritalStatus"><br>
								<label for="g-marital-status">Marital status</label><br></span>
		
								<span><input type="text" id="g-occupation" name="occupation"><br>
								<label for="g-occupation">Occupation</label><br></span>
		
								<span><input type="text" id="g-edu-status" name="educationalLevel"><br>
								<label for="g-edu-status">Educational level</label><br></span>
		
								<span><input type="text" id="g-number-of-children" name="noOfChildren"><br>
								<label for="g-number-of-children">No. of children</label><br></span>
		
								<span><input type="text" id="g-contact-number" name="contact"><br>
								<label for="g-contact-number">Contact number(s)</label><br></span>
		
								<span><input type="text" id="g-address" name="address"><br>
								<label for="g-address">Residence address</label><br></span>
							</section>

							<fieldset class="date-photo">
								<section>
									<section class="reg-date">
										<label>Reg date</label>
										<input type="date" name="regDate">
									</section><br>
		
									<section class="DOB">
										<label>Date of birth</label>
										<input type="date" name="dob">
									</section><br>
		
									<section id="photo">
										<img src="/images/Userpic.PNG">
										<input id="g-browse-btn" type="file" name="photo" value="Browse">
									</section>

									<a href="/snap" class="webcam"> <img src="/images/camera.png" alt="">Take Picture</a>
								</section>
							</fieldset>
	
							<span class="btn">
								<input type="submit" name="submit" value="Submit">
								<!--<input type="button" name="add" value="Add New">
								<input type="button" name="delete" value="Delete">
								<input type="button" name="last" value="Last">
								<input type="button" name="first" value="First">
								<input type="button" name="previous" value="Previous">
								<input type="button" name="next" value="Next">-->
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 