<%- include('partials/header') %>
<%- include('partials/data-entry') %>
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="visitors-content">
					<h2>TEST</h2>
					<form class="visitors-form" action="/test/add" method="POST" enctype="multipart/form-data">
						<fieldset class="visitors-fieldset">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="childID" name="childID"><br>
								<label for="childID">Child ID</label></span>

								<span><input type="text" id="type" name="type"><br>
								<label for="type">Test Type</label><br></span>
							
								<span><input class="cls-cID" type="text" id="requestedBy" name="requestedBy"><br>
								<label class="cls-cID" for="hod">Requested By</label><br></span>
	
							</section>

							<fieldset class="date-photo">
								<section>
									<section id="photo">
										<img src="/images/Userpic.PNG">
										<input id="c-browse-btn" type="file" value="Browse" name="labResult">
									</section>
								</section>
							</fieldset>
	
							<span class="btn">
								<input type="submit" name="submit" value="Submit">
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 