<%- include('partials/header') %>
<%- include('partials/data-entry') %>
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="visitors-content">
					<h2>WARD</h2>
					<form class="visitors-form" action="/ward/add" method="POST">
						<fieldset class="visitors-fieldset">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="name" name="name"><br>
								<label for="name">Ward Name</label><br></span>
							
								<span><input class="cls-cID" type="text" id="hod" name="hod"><br>
								<label class="cls-cID" for="hod">Head of Ward</label><br></span>
	
								<span><input type="number" id="noOfBeds" name="noOfBeds"><br>
								<label for="noOfBeds">Total Number of Beds</label></span>
							</section>

							<section class="ward-admission-section">
								<textarea name="description" class="text-area-full" placeholder="Ward Description"></textarea>
							</section>
	
							<span class="btn">
								<input type="submit" name="submit" value="Submit">
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 