<%- include('partials/header') %>
<%- include('partials/data-entry') %>
			<!-- Tab content -->
			<div class="tabcontent">
				<div id="waiting-content">
					<h2>ON WAITING</h2>
					<form class="waiting-form" action="/waiting/add" method="POST">
						<fieldset class="waiting-fieldset">
							<legend>DETAILS</legend>
							<section class="inputs">
								<span><input type="text" id="waitingID" value=<%-`WA-${Date.now().toString().substring(6, 12)}`%> name="waitingID" readonly><br>
								<label for="waitingID">QueueID</label><br></span>
							
								<span><input class="cls-cID" type="text" id="childID" name="childID"><br>
								<label class="cls-cID" for="childID">ChildID</label><br></span>
		
								<span><input type="text" id="waiting-specialist" name="specialist"><br>
								<label for="waiting-specialist">Specialist</label></span>

								<span><input type="text" id="waiting-for" name="waitingFor"><br>
								<label for="waiting-for">Waiting for</label></span>
								
								<span><input type="text" id="waiting-consultation" name="status"><br>
								<label for="waiting-consultation">Consultation status</label></span><br>
							</section>

							<fieldset class="date-photo">
								<span><input type="date" id="waiting-date" name="waitingDate"><br>
								<label for="waiting-date">Queue date</label><br></span>
							</fieldset>
	
							<span class="btn">
								<input type="submit" name="submit" value="Submit">
								<!--<input type="button" name="add" value="Add New">
								<input type="button" name="delete" value="Delete">
								<input type="button" name="last" value="Last">
								<input type="button" name="first" value="First">
								<input type="button" name="previous" value="Previous">
								<input type="button" name="next" value="Next">-->
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</main>
<%- include('partials/footer')%> 