<%- inlcude("partials/header") %>
		</div>
	</div>
	<main class="Main">
		<form method="POST" class="user-form">
			<h2 class="form-title">Admin</h2>
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<button>Login</button>
		</form>
	</main>
<%- include('partials/footer') %>