<%- include('partials/header') %>
		</div>
	</div>
<!-- Main section -->
<main>
    <!-- Aside section -->
    <aside>
        <ul>
            <li><a href="#">Child</a></li>
            <li><a href="#">Parent</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </aside>
    <!-- End of aside section -->
    <section></section>
</main>
<!-- End of main section -->

<%- include("partials/footer") %>