<%- include('partials/header') %>
		</div>
	</div>
		
	<main>
		<form action="/login" method="POST" class="user-form">
			<h2 class="form-title">Login</h2>
			<input type="text" name="email" placeholder="Email">
			<br>
			<input type="password" name="password" placeholder="Password">
			<button>Login</button>
		</form>
	</main>
<%- //include('partials/footer') %>