<%- include('partials/header') %>
	<!-- Content -->

	<div id="dashboard-content">
		<h2>REPORTS</h2>
		<form class="dashboard-form">
			<fieldset class="dashboard-fieldset">

				<section id="dashboard-controls">
					<section id="user-profile">
						<img src="/images/mother.png"><br>
						<a href="/reportSearch"><input type="button" value="Birth Certificate"></a>
					</section>

					<section id="input-forms">
						<img src="/images/form.jpg"><br>
						<a href="/reportSearch"><input type="button" value="Death Certificate"></a>
					</section>

					<section id="search-form">
						<img src="/images/Searchrecord.png"><br>
						<a href="/reportSearch"><input type="button" value="Test"></a>
					</section>
					<section id="user-profile">
						<img src="/images/Userpic.PNG"><br>
						<a href="/reportSearch"><input type="button" value="Prescription"></a>
					</section>

					<section id="input-forms">
						<img src="/images/form.jpg"><br>
						<a href="/reportSearch"><input type="button" value="Diagnosis"></a>
					</section>

					<section id="search-form">
						<img src="/images/Searchrecord.png"><br>
						<a href="/reportSearch"><input type="button" value="Admission"></a>
					</section>
					
					<section id="add-user">
						<img src="/images/Adduser.png"><br>
						<a href="/reportSearch"><input type="button" value="Referral"></a>
					</section>

					<section id="reports">
						<img src="/images/Report.png"><br>
						<a href="/reportSearch"><input type="button" value="Visitors"></a>
					</section>


					<!--<section id="about-form">
						<img src="/images/Searchrecord.png"><br>
						<a href="/about"><input type="button" value="About"></a>
					</section>-->
				</section>

			</fieldset>
		</form>
	</div>
<%- include('partials/footer') %>