*{
    margin: 0px;
    padding: 0px;
}

/* Header Section */
header{
    width: 100%;
    max-height: 50px;
    background-color: aqua;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Logo area of the header */
.logo{
    grid-column: 1 / 2;
    background-color: black;
}
/* End of logo area of the header */

/* Admin area of the header */
.admin{
    grid-column: 2 / 5;
    background-color:brown;
    box-sizing: border-box;
    display: grid;
    justify-items: end;
}

.admin ul{
    height: 100%;
    width: 150px;
    box-sizing: border-box;
}

.admin ul li{
    height: inherit;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}

.admin ul li a{
    display: inline-block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

.admin ul li a:hover{
    background-color: #232323;
    transition: 2s;
}

.admin ul li ul{
    position: absolute;
    display: none;
}

.admin ul li:hover ul{
    display: block;
    right: 0%;
    top: 50px;
}
/* End of admin area of the header */
/* End of Header Section */